@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.code-area {
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: #fff;
}

.code-area > span {
    display: block;
}

@media screen and (max-width: 320px) {
    .code-area {
		font-size: 5vw;
		min-width: auto;
        width: 95%;
		margin: auto;
		padding: 5px;
		padding-left: 10px;
		line-height: 6.5vw;
    }
}